@charset "UTF-8";
.table_type1 {position: relative; margin:0 auto; width: 90%;}
.table_type1:after {content: ''; position: absolute; top:0; width: 100%; height: 1px; border-top:1px solid black; }
.table_type1 thead {background: #e2e2e2}
.table_type1 th, .table_type1 td {border: 1px solid #aaa; padding:10px 5px; height:30px;}
.table_type1 th {color:#333}
.table_type1 tfoot {background:#fff3d2}

.table_type2 {position: relative; margin:0 auto; width: 90%;}
.table_type2:after {content: ''; position: absolute; top:0; width: 100%; height: 1px; border-top:1px solid black; }
.table_type2 thead {background: #e2e2e2}
.table_type2 th, .table_type2 td {border: 1px solid #aaa; padding:10px 5px; height:30px;}
.table_type2 th:first-child,.table_type2 td:first-child {border-left:none;}
.table_type2 th:last-child,.table_type2 td:last-child {border-right:none;}
.table_type2 th {color:#333}
.table_type2 tfoot {background:#fff3d2}

.table_type3 {position: relative; margin:0 auto; width: 90%;}
.table_type3:after {content: ''; position: absolute; top:0; width: 100%; height: 1px; border-top:1px solid black; }
.table_type3 thead {background: #e2e2e2}
.table_type3 th, .table_type3 td {border-bottom:1px solid #aaa; padding:10px 5px; height:30px;}
.table_type3 th:first-child,.table_type3 td:first-child {border-left:none;}
.table_type3 th:last-child,.table_type3 td:last-child {border-right:none;}
.table_type3 th {color:#333}
.table_type3 tfoot {background:#fff3d2}
.table_type3 td {height:50px;}

.table_type4 {position: relative; margin:0 auto;  border:1px solid #000; border-radius: 10px; border-collapse: separate; width: 90%;}
.table_type4 thead {background: #e2e2e2}
.table_type4 thead th:first-child {border-radius: 10px 0 0 0;}
.table_type4 thead th:last-child {border-radius: 0 10px 0 0;}
.table_type4 th, .table_type4 td {border-bottom:1px solid #aaa; padding:10px 5px; height:30px;}
.table_type4 th:first-child,.table_type4 td:first-child {border-left:none;}
.table_type4 th:last-child,.table_type4 td:last-child {border-right:none;}
.table_type4 th {color:#333}
.table_type4 tfoot {background:#fff3d2}
.table_type4 tbody tr:last-child > td {border-bottom:none;}
.table_type4 tbody tr:last-child > td:last-child {border-radius: 0 0 10px 0; }
.table_type4 tbody tr:last-child > td:first-child { border-radius: 0 0 0 10px;}

.t_hover_type1 tr td:hover {background:#ffe9e9; }
.t_hover_type2 tr:hover {background:#ffe9e9;}
